* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, rgb(29, 29, 29), rgb(29, 29, 29), teal, rgb(29, 29, 29), rgb(29, 29, 29));
    height: 100%;
    width: 100%;
    margin: 0px;
}


.header {
    background-color: rgb(29, 29, 29);
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header a {
    display: flex;
    color: rgb(150, 150, 150);
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px;
}

.header a:hover {
    background-color:rgb(66, 66, 66);
    color: rgb(224, 224, 224);
}

.header a:active {
    color: darkgreen;
    background-color: rgb(0, 0, 0);
}

.form {
    text-align: center;
    border-style: hidden;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 1px 1px 10px rgb(199, 240, 255);
    background-color: aliceblue;
    margin-top: 12rem;
}

label {
    display: inline-block;
    text-align: right;
    width: 100px;
    padding: 5px;

}

#submit {
    margin-top: 20px;
}

.footer {
    margin-bottom: -11px;
    line-height: 1;
    text-align: justify;
    margin: 0;
    padding-top: 100px;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.footer a {
    outline: none;
    color: rgb(150, 150, 150);
    text-decoration: none;
    margin: 1;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.footer-wrapper {
    flex-direction: column;
    padding: 20px 20px 10px 20px;
    display: flex;
}

.footer-wrapper_main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.footer-wrapper_main-title {
    font-size: 20pt !important;
    display: flex;
    margin: auto;
}

.footer-wrapper_main-contact {
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
}

.footer-wrapper_nav {
    display: flex;
    flex-grow: 1;
    flex-direction: row;  
}

.footer-wrapper_nav-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.footer-wrapper_nav-list li:first-child {
    color: teal;
    font-size: 13.5pt;
    font-weight: 600;
    padding-bottom: 10px;
}

.footer-wrapper_nav-list li {
    padding-bottom: 6px;
    line-height: 1.67;
}